:root {
  --pink-color: hsl(322, 100%, 66%);
  --soft-gray:  #E8E8E8;
  --gray-color: hsl(208, 11%, 55%);
  --dark-gray: hsl(192, 100%, 9%);
  --main-font: 'Poppins', sans-serif;
  --header-font: 'Open Sans', sans-serif;
  --testing: blue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {

  font-family: var(--main-font);
  font-size: 1.8rem;
}
