/*
:root {
  --pink-color: hsl(322, 100%, 66%);
  --soft-gray:  hsl(193, 100%, 96%);
  --gray-color: hsl(208, 11%, 55%);
  --dark-gray: hsl(192, 100%, 9%);
  --header-font: 'Poppins', sans-serif;
  --main-font: 'Open Sans', sans-serif;
  --testing: blue;
}

*/

.starter--free {
  min-width: 250px;
  max-width: 500px;
  height: 50px;
  border-radius: 40px;
  border: none;
  outline-style: none;
  background-color: var(--pink-color);
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #ffffff;
  box-shadow: 1px 1px 5px 1px var(--gray-color);
}

.starter--free:hover {
  opacity: 0.8;
}


